@media screen and (max-width: 320px) {
    .container {
        max-width: 280px;
    }

    .button-gpx {
        width: auto;
    }

    .submit {
        width: auto;
    }

    .words {
        display: none;
    }

    .neighbour {
        flex-direction: column;
    }

}